<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
        <a class="navbar-brand" href="/">F8 education</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="https://scontent.fdad1-3.fna.fbcdn.net/v/t1.6435-9/117951440_913263399161172_6051242954173441336_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=3bQygqVbJkEAX9i_mDF&_nc_ht=scontent.fdad1-3.fna&oh=00_AfCPVm7oO9k42YXu3bHmA_5Kuca-KNR-tY-otbQPguTvEQ&oe=63B94164" alt="" class="user-avatar">
              Văn Minh
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/courses/create">Đăng khoá học</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/me/stored/courses">Khoá học của tôi</a>
              <a class="dropdown-item" href="/me/stored/news">Bài đăng của tôi</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Đăng xuất</a>
            </div>
          </li>
          
      </div>
  </div>
</nav>